
h1 {
    text-align: center;
}
body {
    background-color: black;
    color: white;
    background-size: 2%;
}
.backbody {
    background-color: #760000;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    width: 50%;
}
.page-footer {
    background-color: rgb(75 70 74);
    color: #fff;
    padding: 20px;
  }
a{
    color: #b7b7b7;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}